APP_HOST=localhost
PORT=4000

RPC_URL=https://eth-mainnet.g.alchemy.com/v2/your_alchemy_key_here

USDC_ADDRESS=0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=